* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mali', cursive;
    font-weight: 800;
}
h1{
    font-size: 25px;
}
h3{
    text-align: center;
}
.general{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 0rem; 
}
.left1{
    background-image: url("image/S__133914637.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: relative;
}
.left1 p{
    font-family: 'Bebas Neue', cursive;
    font-size: 110px ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.right1{
    background-color:#ffb9dc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.right1 p {
    padding: 0;
}

.myqualifications{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 0rem;    
}
.left2{
    background-color: #d9c2e9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.right2{
    background-color: #ffeba2;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.right2 img{
    width: 400px;
    height: 300px;
    padding: 1rem;
    border-radius: 50%;
    border: 5px solid #fff;
}
.education{
    width: 100%;
    height: 60px;
    background-color: #abe0fe;
}
.education h1{
    text-align: center;
    padding: 1rem;
}

.education1{
    width: 100%;
    height: auto;
    background-color: #abe0fe; 
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 0rem;  
}

.left3,
.right3,
.left4,
.right4{
    margin-top: 2rem;
}

.left3 p{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.content1 p{
    padding-left: 1rem;
    font-size: 15px;

}
.content1 ul {
    padding: 1rem;
}

.content1 ul li{
    display: flex;
}
.content1 img{
    width: 120px;
    height: 120px;
    border-radius: 55%;
}

.right3 p{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.content2 p{
    padding-left: 1rem;
    font-size: 15px;
}
.content2 ul {
    padding: 1rem;
}
.content2 ul li{
    display: flex;
}
.content2 img{
    width: 120px;
    height: 120px;
    border-radius: 55%;
}

.education2{
    width: 100%;
    height: auto;
    background-color: #abe0fe; 
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 0rem;  
}
.left4 p{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.content3 p{
    padding-left: 1rem;
    font-size: 15px;

}
.content3 ul {
    padding: 1rem;
}

.content3 ul li{
    display: flex;
}
.content3 img{
    width: 120px;
    height: 120px;
    border-radius: 55%;
}

.right4 p{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.content4 p{
    padding-left: 1rem;
    font-size: 15px;
}
.content4 ul {
    padding: 1rem;
}
.content4 ul li{
    display: flex;
}
.content4 img{
    width: 120px;
    height: 120px;
    border-radius: 55%;
}
.home{
    width: 100%;
    height: 50px;
    background-color: #bef6be;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.home a:hover{
    opacity: 0.8;
    font-size: 30px;   
}

@media screen and (max-width: 500px){
    body{
        font-size: 13px;
    }
    .general,
    .myqualifications,
    .education1,
    .education2  {
        grid-template-columns: 1fr;
        grid-gap: 0rem;
    }
    .left1 p{
        font-size: 60px;
    }
    .right1 h1,
    .education1 h1,
    .left2 h1{
        font-size: 22px;
    }
    .right1 p,
    .left2 p{
        font-size: 12px;
    }
    .left3 p,
    .right3 p,
    .left4 p,
    .right4 p{
        font-size: 16px;
    }
    .right2 img{
        width: 100%;
        height: auto;
    }
    .content1 p{
        font-size: 12px;
    }
    .content2 p{
        font-size: 12px;
    }
    .content3 p{
        font-size: 12px;
    }
    .content4 p{
        font-size: 12px;
    }
    .content1 img,
    .content2 img,
    .content3 img,
    .content4 img{
        width: 80px;
        height: 80px;
    }
    
}