* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 2rem auto;
    font-family: Helvetica;
}
.top {
    background-color: #FFFFFF;
    width: 100%;
    height: 85px;
    text-align: center;
    font-size: 40px;
}
.middle {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 0rem; 
}
.left {
    background-color: #493d26;
    width: 100%;
    height: 850px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 1rem;
}

.left1 img{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left1 p{
    margin-left: 1rem;
    border-top: 2px solid blanchedalmond;
}
.left1 #mid{
    padding-top: 1rem;
}
.left2 img{
    padding-top: 1rem;
    width: 90%;
    height: 250px;
    object-fit: cover; 
}

.left2 #mid {
    padding-bottom: 1rem;
}
.left2 p{
    margin-right: 2rem;
    padding-top: 1rem;
    color: blanchedalmond;
    border-top: 2px solid blanchedalmond;
}

.right {
    background-image: url("image/S__133693442.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 1rem;
}

.right1 {
    position: relative;
}

.right1 img{
    padding-top: 1rem;
    padding-left: 2rem;
    width: 95%;
    height: 280px;
    object-fit: cover;
}
.right1 #mid{
    padding-top: 2rem;
}
.right1 .box1{
    position: absolute;
    border: 2px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right1 p{
    font-size: 65px;
    font-family: "Sofia";
    color: #FFFFFF;
    transform: rotate(-45deg);
}

.right2 {
    position: relative;
}

.right2 img{
    padding-top: 1rem;
    padding-right: 1rem;
    width: 95%;
    height: 280px;
    object-fit: cover;
}

.right2 .box2{
    position: absolute;
    width: 13rem;
    height: 15rem;
    border: 2px solid #fff;
    top: 69%;
    left: 50%;
    transform: translateX(-50%);
}
.right2 .box2 a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-decoration: none;
    color: blanchedalmond;
    opacity: 1;
    font-size: 40px;
}
.right2 .box2 a:hover{
    opacity: 0.8;
    font-size: 50px;
}
@media screen and (max-width: 500px){
    .top h1{
        font-size: 66px;
    }
    .middle {
        grid-template-columns: 1fr;
        grid-gap: 0rem;
    }
    .right1 p{
        font-size: 45.5px;
    }
    .right2 .box2{
        width: 9rem;
        height: 10rem;
        top: 75%;
    }
    .right2 .box2 a{
        font-size: 25px;
    }
    .right2 .box2 a:hover{
        opacity: 0.8;
        font-size: 30px;
    }
}


